<%- include('includes/_header') %>
<main class="main-wrapper">
    <div class="grid-container">
        <div class="recipe-search-results">
            <h3 class="recipe-search-results__heading">
                Search results for <%= query %>
            </h3>
        </div>
        <% if (search.length > 0) { %>
        <!-- <div class="recipe-filter">
            <span>Recipe Filters Go Here</span>
        </div> -->
        <div class="recipe-grid">
            <!-- <%= search %> -->
            <% search.forEach(function(recipe) { %>
            <div class="recipe-grid-item">
                <a class="recipe-grid-item__link" href="/recipe/<%= recipe.slug %>">
                    <img class="recipe-grid-item__thumb" src="/images/recipe/<%= recipe.imageCover %>" alt="">
                </a>
                <div class="recipe-grid-item__content">
                    <a class="recipe-grid-item__link" href="/recipe/<%= recipe.slug %>">
                        <h4 class="recipe-grid-item__title"><%= recipe.name %></h4>
                    </a>
                    <div class="recipe-grid-item__cooking-info">
                        <div class="recipe-grid-item__cooking-info__item"><strong>Serves</strong> <span><%= recipe.servings %></span></div>
                        <div class="recipe-grid-item__cooking-info__item"><strong>Prep Time</strong> <span><%= recipe.prepTime %></span></div>
                        <div class="recipe-grid-item__cooking-info__item"><strong>Cook Time</strong> <span><%= recipe.cookTime %></span></div>
                        <div class="recipe-grid-item__cooking-info__item"><strong>Difficulty</strong> <span><%= recipe.difficulty %></span></div>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
        <% } else { %>
        <div class="recipe-no-results">
            <img src="/images/no-results.jpg" alt="No search results">
            <p>No results for <%= query %></p>
        </div>
        <% } %>
    </div>
</main>
<%- include('includes/_footer') %>